@page "{Id:int}"
@model BookingSystemRRC.Pages.Admin.DeleteUserModel
@{
}

<div class=" alert alert-danger">
    <h5> Er du sikker på at du vil slette denne bruger? - @Model.User.Username</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger"> ja </button>
        <a class="btn btn-primary" asp-page="/Admin/ManageUser"> nej </a>
    </form>
</div>