@page
@model BookingSystemRRC.Pages.OnlineBooking.VælgBookingModel
@{
}
<div class="container" id="myContainer">

   
        <a class="btn btn-primary"  id ="mybutton" type="button" asp-page="/OnlineBooking/GokartBookingPage"> GOKART </a>
  
        <a class="btn btn-primary" id ="mybutton" type="button" asp-page="/OnlineBooking/RoomBookingPage"> EVENT LOKALE </a>
  

</div>
