/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*#region Default*/

body 
{
    background-image: url("../img/Gokart.jpg");
    background-size: cover;
}

html 
{
    font-size: 14px;
}

@media (min-width: 768px) 
{
    html 
    {
        font-size: 16px;
    }
}

.border-top 
{
    border-top: 1px solid #e5e5e5;
}

.border-bottom 
{
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow 
{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy 
{
    font-size: 1rem;
    line-height: inherit;
}

html 
{
    position: relative;
    min-height: 100%;
}

body 
{
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #1f1f1f;
}


.footer 
{
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.btn {
    background-color: #212121;
    border-color: #808080;
}

/*#endregion Default*/

/*#region Calendar*/

    thead th 
    {
        text-align: center;
        width: 100%;
    }


    header h1 
    {
        font-size: 1.25rem;
        text-align: center;
        font-weight: normal;
    }

tbody 
{
    position: relative;
    top: 100px;
}

table 
{
    background: #fff;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}



.headcol 
{
    width: 60px;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0;
    text-align: center;
    position: relative;
    top: 8px;
    border-bottom: 1px solid transparent;

    border:0;
}

thead th {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(#ff540a);
    padding: 1rem;
}

thead 
{
    z-index: 2;
    background: white;
    border-bottom: 2px solid #ddd;
}

th {
    background-color: black;
    color: white;
    
        }

tr, tr td 
{
    height: 20px;
    color: black
}

td 
{
    text-align: center;
}

tr td 
{
    border-top: 2px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    border-bottom: 2px solid;
    padding: 0;
}

tbody tr td 
{
    position: relative;
    vertical-align: top;
    height: 40px;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: auto;
}

li {
    float: left;
    width: 50%; /* Split width appropriately */
}

.calendarBTN {
    color: #fff;
    background-color: #ff540a;
    border-color: #ff540a;
}

/*#endregion Calendar*/

/*input Create booking*/

.texted {
    color: #ff540a;
}

input, select, textarea {
    width: 195px;
    border: 1px solid #ff540a;
    -ms-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
}

textarea {
    overflow-y: scroll;
    resize: none;
    
}

.label {
    color: #ff540a;
    display: inline-block;
    text-align: right;
}

/*#region Navigation-bar*/

/* Add a black background color to the top navigation */
.topnav {
    background-color: #171717;
    overflow: hidden;
    font-family: sans-serif;
}

/* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ff540a;
            color: black;
        }

    /* Add a color to the active/current link */
    .topnav a:active {
        background-color: #ff540a;
        color: white;
    }

.topnav img {
    width: 6%;
    height: auto;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left; /* If you want the text to be left-aligned on small screens */
    }
}


a {
    color: #ff540a;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
/*#endregion Navigation-bar*/