@page
@model BookingSystemRRC.Pages.InternallySystem.EmployeeCalendarModel
@{


    <div class="calendar">

        <header>

            <div>
                <nav>
                    <button> Create Customer </button>
                    <a class="CalendarBTN" type="button" asp-page="/BookingRRC/CreateBooking"> Create Booking </a>
                    <button> Check in </button>
                </nav>
            </div>

            <div class="calendarTitle">

                
            </div>

        </header>

        <div>
            <div>
                <div class="col-3">
                    <h2 style="text-align:center">Monday</h2>
                    

                            <div class="card mb-3" style="max-width: 20rem"> 
                                <div class="card-header">
                                    <h5 class="card-title"></h5>
                                    <div class="card-body">
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <a class="btn " type="button" asp-page-handler="MoveStoryRight" asp-route-id=""><i class="fa fa-arrow-circle-right"></i></a>
                                    <a style="float:right" class="btn" type="button" asp-page="UserStoryDetail" asp-route-id=""><i class="fa fa-info-circle"></i></a>
                                </div>
                            </div>


                </div>
            </div>
            

            
            
        </div>
    </div>


}



